<script>
  const product = {{ product | json }};
  const selected_variant = {{ product.selected_or_first_available_variant | json }}

  const ecoImg = "{{ 'eco.svg' | asset_url }}"
  const ecoUpdateImg = "{{ 'eco-updated.png' | asset_url }}"
  const materialArrow = "{{ 'material-arrow.png' | asset_url }}"
</script>

<script src="{{ 'product-form.js' | asset_url }}" defer></script>
<script src="{{ 'product-form-old.js' | asset_url }}" defer></script>

{% style %}
  body {
    --product-accent-color: {{ product.metafields.global.accent_color }}
    ;
    --product-accent-color-lighten: {{ product.metafields.global.accent_color | append: "1A" }}
    ;
  }
{% endstyle %}

{% assign single_column_product = false %}
{% if section.settings.single_column_product and product.variants.size == 1 %}
  {% assign single_column_product = true %}
{% endif %}

{%- capture product_classes -%}
  {% if section.settings.center_product_details %}product-title-centered{% endif %}
  {%- if single_column_product -%}
    product-details-centered
  {%- else -%}
    product-details-inline
  {%- endif -%}
{%- endcapture -%}

<div
  class="{{ product_classes | strip }} product-page-wrapper"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-product"
>
  {%- capture product_title -%}
    <h1 class="page-title product-title">{{ product.title }}</h1>
  {%- endcapture -%}

  <div class="product-details mobile">
    <div class="product-minprice-rating">
      <div class="product-minprice">
        <h3>Soft Wood Cat Litter</h3>
      </div>
      {% comment %}
        {% render 'bv-summary' %}
      {% endcomment %}
      <!-- YOTPO PRODUCT PAGE STAR RATING | location: sections > module-product.liquid -->
      {% render 'yotpo-reviews', yotpo_widget: 'pdp_star_rating', product: product, item: item %}
      <!-- END | YOTPO STAR RATING (CATEGORY PAGE) -->
    </div>

    {{ product_title }}
  </div>

  {% render 'product-images' %}
  {% include "product-template-new" %}
  {% include "product-template-old" %}
</div>

{% assign add_to_cart_text = 'products.product.add_to_cart' | t %}

{%
  include 'product-json',
  id: product.id,
  add_to_cart_text: add_to_cart_text,
  enable_history: true 
%}

{% schema %}
  {
    "name": "Product pages",
    "class": "section-product",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_spb",
        "label": "Show dynamic checkout button",
        "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "second_step_promo",
        "label": "Show promo text on second step?",
        "default": false
      },
      {
        "type": "text",
        "id": "second_step_promo_text",
        "label": "Second step promo text"
      },
      {
        "type": "checkbox",
        "id": "product_cart_redirect",
        "label": "Enable cart redirection",
        "info": "Automatically sends users to the Cart page after adding a product.",
        "default": false
      }, {
        "type": "checkbox",
        "id": "center_product_details",
        "label": "Center product title and price over content",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "info": "The image zoom does not apply to the Product slideshow template",
        "default": true
      }, {
        "type": "checkbox",
        "id": "product_show_vendor",
        "label": "Show names of vendors",
        "default": false
      }, {
        "type": "checkbox",
        "id": "linked_options",
        "label": "Disable sold out variants",
        "default": true
      }, {
        "type": "select",
        "id": "variants_style",
        "label": "Variants style",
        "options": [
          {
            "value": "select",
            "label": "Dropdowns"
          }, {
            "value": "radio",
            "label": "Buttons"
          }
        ],
        "default": "select"
      }, {
        "type": "checkbox",
        "id": "single_column_product",
        "label": "Use single column layout if no variants",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show share buttons",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "additional_info",
        "name": "Additional info",
        "settings": [
          {
            "type": "paragraph",
            "content": "[Additional info](https://s3.amazonaws.com/cdn.pixelunion.net/startup/additional-info-screenshot.png) appear wherever a customer can view product information. They’re perfect for linking to size charts, refund policies, or ordering details. Pick from six unique icons."
          }, {
            "type": "text",
            "id": "info_text",
            "label": "Text"
          }, {
            "type": "url",
            "id": "info_url",
            "label": "Link URL"
          }, {
            "type": "select",
            "id": "info_icon",
            "label": "Icon",
            "options": [
              {
                "value": "info",
                "label": "Information (i)"
              },
              {
                "value": "question-mark",
                "label": "Question mark"
              },
              {
                "value": "ruler",
                "label": "Ruler"
              },
              {
                "value": "envelope",
                "label": "Envelope"
              }, {
                "value": "pencil",
                "label": "Pencil"
              }, {
                "value": "shirt",
                "label": "Shirt"
              }
            ],
            "default": "info"
          }
        ]
      }, {
        "type": "additional_logo",
        "name": "Additional logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "block_image",
            "label": "Image"
          }
        ]
      }, {
        "type": "feature",
        "name": "Features",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "richtext",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "additional_info",
          "settings": {
            "info_text": "Additional info"
          }
        }
      ]
    }
  }
{% endschema %}