<div class="cl-header">
    <img src="{{ 'upcycled.png' | asset_url }}" alt="Upcycled Cat Litter Soft Wood"> 
</div>
{% section 'cl-hero-heb' %}
<div class="miawed">
  <h4>4x More Efficient Than Clay</h4>
  <h2>The highest performing, sustainable cat litter available.</h2>
  <div class="icons">
    {% render 'icon-great-clumping' %}
    {% render 'icon-light-weight' %}
    {% render 'icon-absorption' %}
    {% render 'icon-acceptance' %}
  </div>
</div>
<div class="cl-side-by-side">    
    <span class="arrow-right"></span>
    <div class="image-left" style="background-image: url('{{ 'cat-playing.png' | asset_url }}');"></div>
    <div class="side-right">
        <div class="wrapper">
            <h4>Love your Pet, Change the Planet.</h4>
            <h3>Finally, a natural cat litter that works.</h3>
            <div class="description">
                <p>Catalyst Healthy Cat is the only cat litter engineered from upcycled soft wood fiber to offer performance and peace of mind. It leads in <strong>Superior Odor Control, Unrivaled Cat Acceptance, Great Clumping, Low Dust  and Light Weight</strong></p>
            </div>
        </div>
    </div>
</div>

{% section 'cl-featured-three-products-light' %}

<div class="cl-testimonials">
  <div class="testimonials"> 
    <div class="heb-testimonial-carousel owl-carousel">
    <div><div class="paws"><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""></div><h3>Best I’ve used</h3><p class="content">It controls odor much better than others, and is easy to clean.</p><p class="author">Susan M.</p></div>
    <div><div class="paws"><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""></div><h3>No odors</h3><p class="content">my 3 cats still getting used to it..but seems to be working..no odor is so great..love the texture and no dust</p><p class="author">Lana A.</p></div>
    <div><div class="paws"><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""><img src="{{ 'paw.svg' | asset_url }}" alt=""></div><h3>Jasmine Loves Catalyst</h3><p class="content">Fresh smelling, dust free and light wood product is perfect litter for my girl.</p><p class="author">Susan M.</p></div>
    </div>
  </div>
</div>

{% section 'home-newsletter' %}
{% section 'home-instagram' %}
