<div class="pn-title">
    <h2>Love your Pet, Change your Planet</h2>
</div>

<div class="pn-wrapper">
    <div class="pn-our-promise">
        <img src="{{ 'cat-resting.webp' | asset_url }}" alt="">
        <img src="{{ 'product-green.png' | asset_url }}" alt="" class="center-image" >
        <div class="content">
            Our PlasticNeutral Promise:<br/><br/> 
            For every bag of cat litter sold online, we remove another one from our environment
        </div>
    </div>

    <div class="pn-how-it-works">
        <h3>Here's how it works</h3>

        <div class="box">
            <img src="{{ 'rebalance.webp' | asset_url }}" alt="">
            <h4>Measure</h4>
            <p>We identify the volume of plastic in each SKU / product line as determined by Catalyst Pet</p>
        </div>

        <div class="box">
            <img src="{{ 'reduce.webp' | asset_url }}" alt="">
            <h4>Offset</h4>
            <p>For every unique item sold, rePurpose will collect and recycle an equivalent volume of low- value plastic waste</p>
        </div>

        <div class="box">
            <img src="{{ 'impact.webp' | asset_url }}" alt="">
            <h4>Reduce</h4>
            <p>Create a roadmap to reduce plastic in Catalyst Pet's supply chain and the usage of virgin plastic in the next 2-5 years.</p>
        </div>
    </div>

    <div class="pn-cxo">
        <div class="image">
            <img src="{{ 'man_in_button_up.webp' | asset_url }}" alt="">
        </div>
        <div class="content">
            &quot; At Catalyst Pet our values are on every bag &quot;Love Your Pet. Change Your Planet.&quot; Our litter has the sustainability of upcycled pine with the clumping, odor control and acceptance performance that kitty consumers and their humans demand. Our first package was 100% recyclable #4 LDPE. We know we can push the sustainability of this package further. We also know sustainability is a path not a point in time.  Partnering with repurpose global on PlasticNeutral is an opportunity to live our values, pushing our packaging sustainability to the next level. This will not be our last step but this is important progress. &quot;
            <br/><br/>
            <strong>Jonah Levine, CXO</strong>
        </div>
    </div>

    <div class="pn-map clearfix">
        <h3>PlasticNeutral Project Snapshot</h3>
        <div class="image-map">
            <img src="{{ 'world_map.webp' | asset_url }}" alt="">
            <div class="enabler">
                <h5>Offset Enabler:</h5>
                <p><strong>Catalyst Pet</strong><br/>
                Colorado, USA</p>
            </div>
            <div class="implementor">
                <h5>Offset Implementor:</h5>
                <p><strong>Saahas Zero Waste</strong><br/>
                Bengaluru, India</p>
            </div>
        </div>

        <div class="goals">
            <h5>2020 - 2021 Reduction Goals:</h5>
            <p>At Catalyst we will continue to make our litter from upcycled pine. We are working hard to grow our community so that more upcycled litter will be in use. We also look forward to impacting positively natural litters for shelters and rescues</p>
        </div>
        <div class="project">
            <strong>Project Type:</strong> PlasticNeutral Products<br/>
            <strong>Start Date:</strong> February 5th, 2020<br/>
            <strong>Annual Impact:</strong> One pound of plastic recovered for every pound of plastic sold<br/>
            <strong>Project Site:</strong> Bengaluru India
        </div>
    </div>

    <div class="pn-zero-waste">
        <img src="{{ 'repurpose_bg.webp' | asset_url }}" alt="" >
        <div class="content">
            <h3>Saahas Zero Waste is a trusted rePurpose impact creator</h3>
            <p><a href="#">Explore our Impact</a></p>
        </div>
    </div>
</div>

    <div class="pn-waste">
        <img src="{{ 'so_much_waste.webp' | asset_url }}" alt="">

        <div class="content">
            <h3>This is how much plastic you waste every year.</h3>
            <p>Find out how you can go PlasticNeutral today.</p>
        </div>
    </div>

<div class="pn-wrapper">
    <div class="pn-movement">
        rePurpose is a movement of conscious consumers & businesses going PlasticNeutral by financing the removal of ocean-bound plastic worldwide.
        <br/>
        <strong>We help businesses take responsibility for their plastic waste through offsets through our global impact network.</strong>
    </div>
</div>
